127.0.0.1   localhost
::1         localhost
{% for host in groups['k8'] %}
{{ hostvars[host]['ansible_facts']['default_ipv4']['address']  }} {{ hostvars[host]['ansible_fqdn'] }} {{ hostvars[host]['ansible_hostname'] }}
{% endfor %}





 
